@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ff0000;
  --color-secondary: #f8f3e3;
  --color-tertiary: #363636;

  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: "var(--font-montserrat)", sans-serif;
}
